a {
    text-decoration: none;
    background-color: #127465;
    color: #FFFFFF;
}

body {
    background: linear-gradient(170deg, #127465, #fff);
    background-repeat: no-repeat;
    min-height: 98vh;
    min-width: 95vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
}

.button {
    display: inline-block;
    border-radius: 10px;
    background-color: #127465;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

#i {
    width: 400px
}

#b {
    position: absolute;
    top: 680;
    left: 999;
}