

#logo {
    position: absolute;
    top: 360;
}

body {
    background: linear-gradient(170deg, #127465, #fff);
    background-repeat: no-repeat;
    min-height: 50vh;
    min-width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

a {

    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    font-family: Arial, Helvetica, sans-serif;
}

.button {
    display: inline-block;
    border-radius: 15px;
    background: #16907d;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 21px;
    padding: 15px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-family: Arial, Helvetica, sans-serif;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    font-family: Arial, Helvetica, sans-serif;
}

.button:hover span {
    padding-right: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
    font-family: Arial, Helvetica, sans-serif;
}